.red {
  background-color: #a13670;
}

.green {
  background-color: #ffa45e;
}

.orange {
  background-color: #ec4176;
}

.feature-item {
  position: relative;
  display: grid;
  color: white;
  padding: 15px;
  grid-template-rows: 0.7fr 0.3fr 0.7fr;
}

.p-content {
  padding: 0 10px;
}

@media (min-width: 1100px) {
  .feature-item {
    position: relative;
    display: grid;
    color: white;
    padding: 15px;
    grid-template-rows: 1.3fr 0.5fr 1.3fr;
  }
}

@media (min-width: 768px) {
  .features-wraps {
    transform: translateY(-50%);
  }
}
