.intro {
  top: 15vh;
  max-width: 40vw;
  font-family: 'Open Sans', sans-serif;
}

.vcl {
  color: #e5ba3f;
}

.backgroundImage {
  height: 55vh;
}
@media (min-width: 768px) {
  .intro {
    top: 30vh;
  }
}
