.header {
  font-family: 'Roboto Slab', serif;
  font-size: larger;
}

.exercise {
  background-image: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
  border-radius: 5px;
  height: 50%;
  margin: 25%;
  width: 50%;
}
